@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<img src="~/Content/Images/Virtuoso!.jpg" alt="Photo of founder and virtuoso" class="col-lg-4"/>
<p class="col-lg-4 about-text">
	<br /><br />
	BlowOut started with a young virtuoso (pictured left) and his humble dream to give all budding musicians opportunities to learn the magic of music.
	<br /><br />
	Years later, our mission is the same today as it was then: to provide learning opporunities to new musicians. How? By renting quality musical instruments of all kinds at a fair price.
</p>
