@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="NewOrUsed?Name=Trumpet"><img src="~/Content/Images/trumpet.jpg" /></a>
<a href="NewOrUsed?Name=Trombone"><img src="~/Content/Images/trombone.jpg" /></a>
<a href="NewOrUsed?Name=Tuba"><img src="~/Content/Images/tuba.jpg" /></a>
<a href="NewOrUsed?Name=Flute"><img src="~/Content/Images/flute.jpg" /></a>
<a href="NewOrUsed?Name=Clarinet"><img src="~/Content/Images/clarinet.jpg" /></a>
<a href="NewOrUsed?Name=Saxophone"><img src="~/Content/Images/saxophone.jpg" /></a>
